
import(KFAS)

export(dlmodeler.add)
export("+.dlmodeler")
export(dlmodeler.bind)
export("%%.dlmodeler")
export(dlmodeler.multiply)
export("*.dlmodeler")
export(dlmodeler.check)

export(dlmodeler.build)
export(dlmodeler.arima)
export(dlmodeler.constant)
export(dlmodeler.dseasonal)
export(dlmodeler.polynomial)
export(dlmodeler.regression)
export(dlmodeler.structural)
export(dlmodeler.tseasonal)
export(random.walk)
export(stochastic.level)
export(stochastic.trend)
export(stochastic.season)
export(deterministic.level)
export(deterministic.trend)
export(deterministic.season)

# old function names
export(dlmodeler.build.arima)
export(dlmodeler.build.constant)
export(dlmodeler.build.dseasonal)
export(dlmodeler.build.polynomial)
export(dlmodeler.build.regression)
export(dlmodeler.build.structural)
export(dlmodeler.build.tseasonal)

export(dlmodeler.filter)
export(dlmodeler.smooth)

export(dlmodeler.forecast)
export(dlmodeler.extract)

export(dlmodeler.fit)
export(dlmodeler.fit.MLE)
export(dlmodeler.fit.MSE)
export(dlmodeler.fit.MAD)
export(dlmodeler.fit.MAPE)
export(dlmodeler.fit.sigma)

export(dlmodeler.yeardays)

S3method(print,		dlmodeler)
S3method(logLik,	dlmodeler.filtered)
S3method(logLik,	dlmodeler.fit)
S3method(AIC,		dlmodeler.fit)
